
<div class="row">
	<div class="col-sm-12 col-md-12">
		<h1 style="border-bottom: 1px solid gray;">The Discriminant</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12">
		<h2>Explore: Example 2</h2>
		<hr />
		<chart ng-model="model.data" chart-options="model.options"></chart>
		<hr />
		<p>
			y =  x<sup>2</sup> {{ model.b }} + {{ model.c }}
		</p>
		<p>
			a = {{ model.a }}, b = {{ model.b }}, c = {{ model.c }}
		</p>
		<hr />
		<div class="row" style="margin-top: 10px;">
			<div class="col-sm-2 col-md-2">
				<div class="pull-right">
					b<sup>2</sup> - 4ac 
				</div>
			</div>
			<div class="col-sm-10  col-md-10">
				<div class="pull-left">
					= ({{ model.b }})<sup>2</sup> - 4({{ model.a }})({{ model.c}})
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 col-md-2">
				&nbsp;
			</div>
			<div class="col-sm-10  col-md-10">
				<div class="pull-left">
					= {{ model.b * model.b }} - {{ 4 * model.a  * model.c}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 col-md-2">
				&nbsp;
			</div>
			<div class="col-sm-10  col-md-10">
				<div class="pull-left">
					= {{ (model.b * model.b) - (4 * model.a  * model.c) }} &larr; {{ model.type }}
				</div>
			</div>
		</div>
		<hr />
		<p>
			This means x<sup>2</sup> {{ model.b}} + {{ model.c }} = 0 has no real roots/solutions.
		</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12">
		<ul class="pager">
			<li class="previous"><a href="#/calculate">&larr; Calculate</a></li>
			<li class="next"><a href="#/explore">Explore &rarr;</a></li>
		</ul>
	</div>
</div>