
<div class="row">
	<div class="col-sm-12 col-md-12">
		<h1 style="border-bottom: 1px solid gray;">The Discriminant</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12">
		<h2>Predict</h2>
		<p>
			How many times will the graph of y = x<sup>2</sup> - 8x + 7 <br />
			<span style="color: blue;">a = 1</span>; 
			<span style="color: red;">b = 8</span>;
			<span style="color: green;">c = 7</span><br />
			Cross the x-axis?
		</p>
		<chart ng-model="model.data" chart-options="model.options"></chart>
		<hr />
		<p><button class="btn btn-primary" ng-href="#/calculate" ng-click="predict(1)">One</button></p>
		<p><button class="btn btn-primary" ng-href="#/calculate" ng-click="predict(2)">Two</button></p>
		<p><button class="btn btn-primary" ng-href="#/calculate" ng-click="predict(3)">Three</button></p>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12">
		<ul class="pager">
			<li class="previous"><a href="#/">&larr; Setup</a></li>
			<li class="next"><a href="#/calculate">Calculate &rarr;</a></li>
		</ul>
	</div>
</div>