
<div class="row">
	<div class="col-sm-12 col-md-12">
		<h1 style="border-bottom: 1px solid gray;">The Discriminant</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-6">
		<h2>Predict</h2>
		<div style="width: 250px; height: 250px; background-color: #ccc; float: left;margin-right: 10px; text-align: center;">
			Graph Here
		</div>
		<flot dataset="dataset" options="chartOptions"></flot>
	</div>
	<div class="col-sm-6 col-md-6">
		<p>
			a = 1 <span style="color: blue;">blue</span> <br/>
			b = 8 <span style="color: red;">red</span> <br/>
			c = 7 <span style="color: green;">green</span> <br/>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12">
		<ul class="pager">
			<li class="previous"><a href="#/">&larr; Setup</a></li>
			<li class="next disabled"><a href="#calculate">Calculate &rarr;</a></li>
		</ul>
	</div>
</div>