<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 style="border-bottom: 1px solid gray;">The Discriminant</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h2>The Discriminant</h2>
			<div style="width: 200px; height: 200px; background-color: #ccc; float: left;margin-right: 10px; text-align: center;">
				Placeholder
			</div>
			<p>
				Place the linkbot at the origin pointing up. <br />
				<em>* &lt;Describe needed accessories&gt; need text here.</em>
			</p>
		</div>
		<div class="col-md-6">
			<h2>Standards: A. REI 4B</h2>
			<p>
				Solve quadratic equations by completing the square, the quadratic
				forumula &amp; factoring as appropriate to the inital form of the equation
			</p>
			<h2>Objective</h2>
			<p>
				The students will be able to use the discriminant portion of the quadratic
				forumla to identify the number of solutions to the quadratic equation.
			</p>
			<h2>Vocab</h2>
			<p>
				Discriminant
			</p>
		</div>
	</div>
</div>
