
<div class="row">
	<div class="col-sm-12 col-md-12">
		<h1 style="border-bottom: 1px solid gray;">The Discriminant</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-6">
		<h2>Setup</h2>
		<img src="img/setup-robot.jpg" width="200" height="200" style="margin-right: 10px;" class="pull-left img-responsive img-thumbnail" alt="Setup by pointing the robot up within the center of the grid" />
		<p>
			Add a robot using the robot manager to the left.
		</p>
		<p>
			Place the linkbot at the origin pointing up. <br />
			<em>* &lt;Describe needed accessories&gt; need text here.</em>
		</p>
	</div>
	<div class="col-sm-6 col-md-6">
		<h2>Standards: A. REI 4B</h2>
		<p>
			Solve quadratic equations by completing the square, the quadratic
			forumula &amp; factoring as appropriate to the inital form of the equation
		</p>
		<h2>Objective</h2>
		<p>
			The students will be able to use the discriminant portion of the quadratic
			forumla to identify the number of solutions to the quadratic equation.
		</p>
		<h2>Vocab</h2>
		<p>
			Discriminant
		</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12">
		<ul class="pager">
			<li class="next" data-ng-class="{disabled:!model.acquired}"><a data-ng-href="{{ model.acquired ? '#predict': ''}}">Predict &rarr;</a></li>
		</ul>
	</div>
</div>